$pure-white: #fff;
$light-white: #ddd;
$black: #000;
$text-muted: #5c5c5c;
$hero-shadow: rgba(0, 0, 0, 0.6);
$green: rgb(68, 155, 68);
$main-btn-color: rgba(24, 241, 16, 0.5);
$lighter-white: #e7e7e7;

